body { 
    color: #333;
    background-color: #fff;
    text-align: center;
}

header img {
    max-width: 100%;
}

p.intro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button {
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin: 20px auto;
    background-color: #f00;
    border: 0 none;
    padding: 10px 20px;
    text-transform: uppercase;
}

.button:hover {
    border-color: #fff;
    background-color: #000;
}